{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div id="base-frm-container" class="col-md-2">

        <div id="frm-container" style="margin-left: 10px; margin-top: 30px;">
            <form method="POST" class="frm post-form">{% csrf_token %}
                {{ form.non_field_errors }}
                <div class="fieldWrapper form-input-text">
                    {{ form.temp_stn.errors }}
                    <label style="width: 140px;" class="form-label" for="{{ form.temp_stn.id_for_label }}">STUDENT NUMBER</label>
                    {{ form.temp_stn }}
                </div>

                <button type="submit" class="save btn btn-x"
                        style="font-size: 16px;
                            border-radius: 0;
                            border: none;
                            padding: 10px 40px 10px 40px;
                            color: white;
                            margin-top: 15px;
                            margin-left: 0;
                            background: #B24592;  /* fallback for old browsers */
                            background: -webkit-linear-gradient(to right, #F15F79, #B24592);  /* Chrome 10-25, Safari 5.1-6 */
                            background: linear-gradient(to right, #F15F79, #B24592); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                ">CONFIRM
                </button>
            </form>
        </div>
    </div>

 <div id="base-table-container" class="col-md-10">
        <div class="row" id="table-content" style="width: 70vw; margin-left: 70px; margin-top: 20px;">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col" style="width: 30%;"></th>
                    <th scope="col" style="width: 15%;">LATEST LOGIN</th>
                    <th scope="col" style="width: 15%;">LATEST LOGOUT</th>
                    <th scope="col" style="width: 15%;">WEEKLY TIME SPENT</th>
                    <th scope="col" style="width: 15%;">DAILY TIME SPENT</th>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for each in officer %}
                    <tr>
                        <td>{{ each.last_name }}</td>
                        <td>{{ each.first_name }}</td>
                        <td>{{ each.latest_login }}</td>
                        <td>{{ each.latest_logout }}</td>
                        <td>{{ each.weekly_time_spent }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
<style>
input#id_temp_stn {
    width: 200px;
    height: 40px;
    font-size: 28px;
    text-align: center;
}
</style>
{% endblock %}